/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: white;
    padding: 1em 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    padding: 2em 0;
    flex: 1;
}

.container {
    width: 80%;
    margin: 0 auto;
}

h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 0.5em;
    margin-bottom: 1em;
}

.skills, .portfolio {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.skill, .portfolio-item {
    width: 30%;
    margin: 1em 0;
    background-color: rgba(231, 231, 231, 0.89);
    padding: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.74);
    border-radius: 8px;
}

.skill h3, .portfolio-item h3 {
    margin-top: 0;
}

.button {
    display: inline-block;
    padding: 0.5em 1em;
    color: rgb(0, 0, 0);
    background-color: #c2c2c277;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 1em;
    cursor: pointer;
    font-size: 2em;
}

.button:hover {
    background-color: #5e5e5e;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    margin-top: auto;
    width: 100%;
    bottom: 0;
}